body{

    /* background-image: url('../web4/images/killed.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

#intro {
    /* background-color : #F5F5F7; */
    /* color: #dfe6e9; */
}
h3{
    text-align: right;
}